<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 

  <div *ngIf="value ==='bineesh'">
  
    <h1>
      Welcome to {{value}}
    </h1>

  </div>

<ul>
  <li *ngFor="let item of items; let i=index;let od=odd;" [ngStyle]="{'background-color':od?'red':'green'}">
 
    {{item}}   {{i}}  {{od}}

  </li>
</ul>


  <img [src]="imageSrc" />

  <input [(ngModel)]="value" />

  <button (click)="onClickBtn()">click</button>

  <app-login></app-login>
 
</div>
