<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">

  {}
 

  <div *ngIf="value ==='bineesh'">
  
    <h1>
      Welcome to {{value}}
    </h1>

  </div>

<ul>
  <li *ngFor="let item of items; let i=index;let od=odd;" [ngStyle]="{'background-color':od?'red':'green'}">
 
    {{item}}   {{i}}  {{od}}

  </li>
</ul>


  <img [src]="imageSrc" />

  <input [(ngModel)]="value" />

  <button (click)="onClickBtn()">click</button>
 -->
  <!-- <div>

    <button>select</button>
<div>
    <ul>
      <li>1</li>
      <li>2</li>
    </ul>
  </div> a
  </div> -->
<div>

  {{bDay | date: 'MM/dd/yy h:mm a'}}

  {{'100' | currency: 'USD'}}

  {{user | json | uppercase}}

  <ul>

    <li *ngFor="let patient of (patients | arfilter: 10)">

    {{patient.place}} - {{patient.count}}
  </li>
  </ul>


 <!--  <ul>

    <li *appSlideshow="let image from images; let ctrl=controller">
      <img [src]="image" />
      <button (click)="ctrl.prev()">Prev</button>
      <button (click)="ctrl.next()">next</button>
    </li>

  </ul> -->



  <ul>
  <li *appTest="let item from items in value  let i = index;">
    {{item}} - {{i}}
  </li>

</ul>


  <!-- <p [appTheme]="color">hello ang</p>

  <app-login [loginTitle]="lTitle" (disp)="userLogin($event)"></app-login> -->

  <!-- <app-login [loginTitle]="value" (disp)="userLogin($event)"></app-login> -->

  <app-form></app-form>
</div>
