<div>

    <button (click)="updateSmiley($event,'H')">H</button>
    <button (click)="updateSmiley($event,'C')">C</button>
    <button (click)="updateSmiley($event,'L')">L</button>
    <button (click)="updateSmiley($event,'A')">A</button>

    <div [ngSwitch]="smileyType">
        <div *ngSwitchCase="'H'">HAPPY</div>
        <div *ngSwitchCase="'C'">CRY</div>
        <div *ngSwitchCase="'L'">LAUGH</div>
        <div *ngSwitchCase="'A'">ANGFRY</div>
        <div *ngSwitchDefault>NONE</div>
    </div>

    <div>
        <ul>
            <li *ngFor="let item of values; let i=index; let odd=odd" [class.odd]="odd">{{item}}{{i}}{{odd}}</li>
        </ul>

        <ng-template ngFor let-item [ngForOf]="[1,2,3]">{{item}}</ng-template>
    </div>

</div>
